// @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://use.typekit.net/yrz5wte.css');

// font-family: 'Parisienne', cursive;

@font-face {
	font-family: 'nav';
	src: url('/fonts/nav/nav.eot');
	/* IE9 Compat Modes */
	src: url('/fonts/nav/nav.eot?#iefix') format('embedded-opentype'), url('/fonts/nav/nav.woff') format('woff'), url('/fonts/nav/nav.ttf') format('truetype'), url('/fonts/nav/nav.svg#1da3456e837ae6ef244abd56d21c2bc6') format('svg');
	/* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}
