@import url('https://use.typekit.net/yrz5wte.css');

// Generated via google-webfonts-helper
// https://google-webfonts-helper.herokuapp.com/fonts/parisienne?subsets=latin
@font-face {
	font-family: 'Parisienne';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		  url('/fonts/parisienne/parisienne-v8/parisienne.woff2') format('woff2'),
		  url('/fonts/parisienne/parisienne-v8/parisienne.woff') format('woff');
}
