.location-banner {
	padding: 90px 0;
	background: linear-gradient(rgba(105, 123, 153, .5), rgba(105, 123, 153, .5)), url('/img/index-2/location/location.jpg') center center/cover no-repeat;

	@include breakpoint(medium down) {
		border-top: 20px solid #fff;
	}
}

.location-banner .contact-info {
	border: 3px solid #fff;
}

.location-banner .contact-info a {
	color: #fefefe;
	text-decoration: underline;
}

.location-banner .contact-info a:hover {
	text-decoration: none;
}
