.location-section {
	padding-top: rem-calc(40);
	padding-bottom: rem-calc(80);
	background: linear-gradient(
	rgba(105,123,153,.50),
	rgba(105,123,153,.50)
	), url('/img/index/location/facade-draft/facade-draft.jpg') center/cover no-repeat;

	@include breakpoint(large) {
		background-size: contain;
		background-color: #fff;
	}

	.heading-wrap {
		text-align: center;
		padding-left: rem-calc(10);
		padding-right: rem-calc(10);
		margin-bottom: rem-calc(12);

		h2 {
			line-height: 1;
			font-size: rem-calc(60);
			letter-spacing: rem-calc(-.2);
		}

		@include breakpoint(medium) {
			h2 {
				font-size: rem-calc(80);
			}
		}

		@include breakpoint(large) {
			text-align: left;
			padding: 0;

			h2 {
				font-size: rem-calc(110);
			}

			h3 {
				padding-left: rem-calc(140);
				margin-bottom: rem-calc(-20);
			}
		}
	}

	.prose {
		max-width: 460px;
		padding-left: 20px;
		padding-right: 20px;

		@include breakpoint(large) {
			max-width: none;

			p {
				font-size: rem-calc(20);
			}
		}
	}
}
