.title-bar {
	background: #697b99;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .3);
	height: 55px;

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;

		img {
			max-width: 65px;
		}

		h1 {
			text-shadow: 0 6px 10px rgba(0, 0, 0, .3);
			color: #fefefe;
			font-size: 60px;
			position: absolute;
			top: 0;
		}
	}
}

.top-bar#main-menu {
	@include breakpoint(small only) {
		padding: 0;

		.menu {
			width: 100%;

			li {
				background: #f9f9f9;
				border-bottom: 1px solid #333;
				padding: 0;

				&:hover {
					background: #fffeb3;
					text-decoration: underline;
				}
			}

			a {
				color: #333;
				font-weight: bold;
				padding: 12px 16px;
			}
		}

		a.is-active {
			background: #fffeb3;
			text-decoration: underline;
		}
	}
}

.no-js {
	@include breakpoint(small only) {
		.top-bar {
			display: none;
		}
	}

	@include breakpoint(medium) {
		.title-bar {
			display: none;
		}
	}
}
