.round-top-spring-2021-section {
	background: #eff0f8;

	.h3 {
		font-size: $h3;

		@include breakpoint(520) {
			font-size: $h3-medium;
		}
	}

	.p {
		max-width: rem-calc(320);
		margin: 0 auto rem-calc(32);
	}

	img.excess-field-logo {
		max-width: 200px;
	}

	img.bader-ranch-logo {
		max-width: 240px;
	}
}
