.round-top-section {
	// background: #eff0f8;
	// background: linear-gradient(
	// rgba(102,102,102,0.85),
	// rgba(102,102,102,0.85)
	// ), url('/img/jdf-showroom/jdf-showroom.jpg') center center/cover no-repeat;

	// margin-top: 20px;
	border-top: 20px solid #fefefe;
	padding: 100px 0;
	background: #fff url('/img/jdf-showroom/jdf-showroom.jpg') center/cover no-repeat;
	background: #fff url('/img/jdf-showroom/jdf-showroom-2.jpg') center/cover no-repeat;
	// color: #fff;
	// text-align: center;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(102,102,102,.85);
		mix-blend-mode: multiply;
		// z-index: -10;
	}

	.h3 {
		font-size: $h3-medium;
	}

	.p {
		max-width: rem-calc(320);

		@include breakpoint(520) {
			max-width: rem-calc(420);
		}

		@include breakpoint(large) {
			max-width: rem-calc(320);
		}
	}

	.prose-wrap {
		margin-bottom: rem-calc(48);
		color: #fff;
		text-shadow: 0 0 20px #000;

		@include breakpoint(medium) {
			margin-bottom: rem-calc(32);
		}

		@include breakpoint(large) {
			float: left;
		}

		@include breakpoint(1100) {
			padding: 0 0 0 rem-calc(32);
		}
	}

	.vendor-logos {
		max-width: 400px;
		margin: 0 auto;
		text-align: center;

		@include breakpoint(medium) {
			max-width: none;
		}
	}

	.logo-wrap {
		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	.logo-wrap#round-top-compound {
		margin-bottom: rem-calc(64);

		@include breakpoint(medium) {
			margin-bottom: 0;
		}

		// @include breakpoint(large) {
		// 	padding: 0 rem-calc(16) 0 0;
		// }
	}

	.logo-wrap#bader-ranch {
		margin-bottom: rem-calc(64);

		@include breakpoint(medium) {
			margin-bottom: 0;
			padding: 0 rem-calc(32);
		}

		@include breakpoint(960) {
			padding: 0 rem-calc(32);
		}

		@include breakpoint(large) {
			padding: 0 rem-calc(16) 0 0;
		}

		@include breakpoint(1200) {
			padding: 0 rem-calc(32);
		}
	}

	img.bader-ranch-logo {
		max-width: 240px;

		@include breakpoint(large) {
			max-width: 220px;
			padding-left: 12px;
		}

		@include breakpoint(1200) {
			max-width: 240px;
			padding-left: 0;
		}
	}

	img.round-top-compound-logo {
		max-width: 400px;
		width: 100%;
		margin-bottom: rem-calc(20);
		padding: 0 16px;

		@include breakpoint(medium) {
			padding: 0;
			max-width: 300px;
		}

		@include breakpoint(large) {
			max-width: 220px;
		}

		@include breakpoint(1200) {
			max-width: 220px;
		}
	}
}
