.round-top-spring-2021-section {
	background: #eff0f8;

	.h3 {
		font-size: $h3;

		@include breakpoint(520) {
			font-size: $h3-medium;
		}
	}

	.p {
		max-width: rem-calc(320);
		// margin-bottom: rem-calc(32);
	}

	.prose-wrap {
		margin-bottom: rem-calc(32);

		@include breakpoint(960) {
			float: left;
			padding: 0 32px;
		}
	}

	.vendor-logos {
		max-width: 400px;
		margin: 0 auto;
		text-align: center;

		@include breakpoint(medium) {
			max-width: none;
		}

		@include breakpoint(960) {
			text-align: unset;
			padding-top: rem-calc(20);
		}

		// img.excess-field-logo {
		// 	@include breakpoint(medium) {
		// 		padding-left: 16px;
		// 	}
		// }

		// img.bader-ranch-logo {
		// 	margin-bottom: 32px;

		// 	@include breakpoint(medium) {
		// 		margin-bottom: 0;
		// 		padding-right: 16px;
		// 	}
		// }
	}

	.logo-wrap#bader-ranch {
		margin-bottom: rem-calc(64);
	}

	.logo-wrap#excess-field {
		margin-bottom: rem-calc(32);
	}

	img.excess-field-logo {
		max-width: 200px;
	}

	img.bader-ranch-logo {
		max-width: 240px;
	}
}
