.round-top-section {
	background: #eff0f8;

	.h3 {
		font-size: $h3;

		@include breakpoint(520) {
			font-size: $h3-medium;
		}
	}

	.p {
		max-width: rem-calc(320);

		@include breakpoint(520) {
			max-width: rem-calc(420);
		}

		@include breakpoint(large) {
			max-width: rem-calc(320);
		}
	}

	.prose-wrap {
		margin-bottom: rem-calc(32);

		@include breakpoint(960) {
			// float: left;
			// padding: 0 rem-calc(16) 0 rem-calc(32);
		}

		@include breakpoint(1000) {
			// padding: 0 rem-calc(32);
		}

		@include breakpoint(large) {
			float: left;
		}

		@include breakpoint(1100) {
			padding: 0 rem-calc(32);
		}
	}

	.vendor-logos {
		max-width: 400px;
		margin: 0 auto;
		text-align: center;

		@include breakpoint(medium) {
			max-width: none;
		}

		@include breakpoint(large) {
			text-align: unset;
		}
	}

	.logo-wrap {
		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	.logo-wrap#round-top-compound {
		margin-bottom: rem-calc(64);

		@include breakpoint(medium) {
			margin-bottom: 0;
		}

		// @include breakpoint(960) {
			// padding: 0 rem-calc(32) 0 0;
		// }
	}

	.logo-wrap#bader-ranch {
		margin-bottom: rem-calc(64);

		@include breakpoint(medium) {
			margin-bottom: 0;
			padding: 0 rem-calc(32);
		}

		@include breakpoint(960) {
			// padding: 0 rem-calc(32) 0 0;
			// padding: 0;
			padding: 0 rem-calc(32);
		}

		@include breakpoint(large) {
			padding: 0 rem-calc(16) 0 0;
		}

		@include breakpoint(1200) {
			padding: 0 rem-calc(32);
		}
	}

	.logo-wrap#excess-field {
		margin-bottom: rem-calc(32);

		@include breakpoint(medium) {
			margin-bottom: 0;
			padding-top: rem-calc(40);

			// img {
			// 	margin-bottom: rem-calc(20);
			// }
		}
	}

	img.excess-field-logo {
		max-width: 200px;
		margin-bottom: rem-calc(20);

		@include breakpoint(medium) {
			margin-bottom: rem-calc(32);
		}
	}

	img.bader-ranch-logo {
		max-width: 240px;

		@include breakpoint(large) {
			max-width: 220px;
		}

		@include breakpoint(1200) {
			max-width: 240px;
		}
	}

	img.round-top-compound-logo {
		max-width: 220px;

		@include breakpoint(large) {
			max-width: 200px;
		}

		@include breakpoint(1200) {
			max-width: 220px;
		}
	}
}
