.hero-splash {
	height: 100vh;
	min-height: rem-calc(400);
	background: rgba(103,128,154,.25) url('/img/splash-images/1/splash-1920x1200.jpg') center/cover no-repeat;
	background-blend-mode: multiply;

	.h1-headline {
		@extend .ff-parisienne;
		font-size: rem-calc(120);
		color: #fff;
		text-shadow: 0 0 rem-calc(20) #000;

		span.slogan {
			@extend .ff-museo-500;
			display: block;
			font-size: rem-calc(40);
			color: #fff;
		}

		@include breakpoint(1100) {
			font-size: rem-calc(148);

			span.slogan {
				font-size: rem-calc(47);
			}
		}
	}

	.h2-tagline {
		@extend .ff-museo-500;
		font-size: rem-calc(26);
		color: #fff;
		text-shadow: 0 rem-calc(2) rem-calc(40) #000;
	}
}
