.small-splash {
	background: rgba(0,0,0,.25) url('/img/splash-images/1/splash-small.jpg') center/cover no-repeat;
	background-blend-mode: multiply;
	min-height: 540px;

	.headline-wrap {
		@include breakpoint(520 down) {
			max-width: 320px;
			margin: 0 auto;
		}
	}

	.h1-headline {
		text-shadow: 0 0 10px #000;
		margin-bottom: 40px;
		font-size: 70px;
		line-height: 1;

		.slogan {
			font-size: 25px;
		}
	}

	.h2-tagline {
		text-shadow: 0 0 10px #000;
		font-size: 20px;
		margin-bottom: 40px;
	}

	.button {
		font-size: rem-calc(16);
	}

	@include breakpoint(medium) {
		background-image: url('/img/splash-images/1/splash-medium.jpg');
		min-height: 600px;
	}
}
