#index.index .gardensSection {
	border-top: 20px solid #fefefe;
}

#index.index .gardensSection .header {
	padding: 60px 0;
	background: linear-gradient(rgba(105, 123, 153, .7), rgba(105, 123, 153, .7)), url('/img/gardens/jardin-de-france-gardens-entry.jpg') center center/cover no-repeat;
}

#index.index .gardensSection .gallery img {
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	border: 4px solid #fefefe;
	margin-bottom: 30px;
	max-width: 340px;
	width: 100%;
}

#index.index .gardensSection .imageBanner {
	background: #697b99;
}

#index.index .gardensSection .imageBanner img {
	border: 4px solid #fefefe;
}

@media only screen and (min-width : 40em) {
	#index.index .gardensSection .header {
		padding: 90px 0;
	}
	#index.index .gardensSection .imageBanner {
		padding-bottom: 20px;
	}
}
