body {
	background: url('/img/assets/backgrounds/linen.jpg') repeat;
}

.bannerSection {
	overflow: hidden;
}

.bannerSection .scrim {
	width: 100%;
	bottom: 0;
	background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
	z-index: 10;
	padding: 40px 20px;
}

.bannerSection h4 {
	max-width: 570px;
	width: 100%;
	margin: 0 auto 8px;
}

.bannerSection img {
	height: 580px;
	max-width: none;
}

@media only screen and (min-width : 40em) {
	.bannerSection img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}
}

.interiorGallery {
	background: #697b99;
	padding-top: 10px;
}

.interiorGallery .row.sectionIntro {
	max-width: 1366px;
}

.interiorGallery .imgWrap img {
	width: 50%;
	border: 3px solid #fefefe;
}

.interiorGallery .imgWrap img.hide-for-medium {
	float: left;
}

.interiorGallery .prose {
	padding: 20px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.interiorGallery h1 span {
	margin-bottom: 12px;
	text-transform: uppercase;
}

.interiorGallery .yellow-bar {
	background: #fffeb3;
	width: 170px;
	margin: 20px 0 30px;
	height: 6px;
	display: block;
}

.interiorGallery .imageBanner {
	background: #fefefe;
}

.interiorGallery .imageBanner .row {
	max-width: 1600px;
}

.interiorGallery .imageBanner img {
	border: 3px solid #fefefe;
}

@media only screen and (min-width : 40em) {
	.interiorGallery {
		padding: 0;
	}
	.interiorGallery .row.sectionIntro {
		display: flex;
	}
	.interiorGallery .imgWrap {
		max-height: 760px;
		overflow: hidden;
	}
	.interiorGallery .imgWrap img {
		width: auto;
		border-top: 0;
		border-bottom: 0;
	}
	.interiorGallery .proseWrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.interiorGallery .prose {
		max-width: none;
		padding: 30px;
	}
	.interiorGallery h1 span {
		font-size: 25px;
	}
	.interiorGallery h4 {
		max-width: 470px;
		width: 100%;
	}
	.interiorGallery .yellow-bar {
		margin: 30px 0;
	}
}

@media only screen and (min-width : 64em) {
	.interiorGallery .prose {
		padding: 40px;
	}
	.interiorGallery .yellow-bar {
		margin: 50px 0;
	}
}

.roundTop-section {
	background: linear-gradient(rgba(105, 123, 153, .8), rgba(105, 123, 153, .8)), url('/img/index/round-top/2018/spring/marburger-farms/background.jpg') center/cover no-repeat;
}

.roundTop-section .prose {
	max-width: 500px;
	padding: 50px 0;
}

@media only screen and (min-width : 40em) {
	.roundTop-section h2 {
		font-size: 70px;
	}
}

.roundTop-section #masonry-grid .tile img {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	border-radius: 4px;
	border: 4px solid #fefefe;
}

#index.index .gardensSection {
	border-top: 20px solid #fefefe;
}

#index.index .gardensSection .header {
	padding: 60px 0;
	background: linear-gradient(rgba(105, 123, 153, .7), rgba(105, 123, 153, .7)), url('/img/gardens/jardin-de-france-gardens-entry.jpg') center center/cover no-repeat;
}

#index.index .gardensSection .gallery img {
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	border: 4px solid #fefefe;
	margin-bottom: 30px;
	max-width: 340px;
	width: 100%;
}

#index.index .gardensSection .imageBanner {
	background: #697b99;
}

#index.index .gardensSection .imageBanner img {
	border: 4px solid #fefefe;
}

@media only screen and (min-width : 40em) {
	#index.index .gardensSection .header {
		padding: 90px 0;
	}
	#index.index .gardensSection .imageBanner {
		padding-bottom: 20px;
	}
}
