<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
	$('#masonryGrid').imagesLoaded( function() {
		$('#masonryGrid').masonry({
			itemSelector: '#masonryGrid .tile'
		});
	});
</script>

<!-- Magnific Popup core JS file -->
<script src="/js/vendor/magnific-popup/jquery-magnific-popup-min.js"></script>

<script>
	// $('.test-popup-link').magnificPopup({
	// 	type: 'image'
	// });
	$('.tileBase').magnificPopup({
		delegate: 'a', // child items selector, by clicking on it popup will open
		type: 'image'
	});
</script>
