.splash#splash {
	.hero-splash {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #fff url('/img/splash/hero-large.png') center/cover no-repeat;

		.h1-headline {
			font-family: Parisienne-Regular;
			font-size: rem-calc(148);
			color: #fff;
			text-shadow: 0 0 20px #000;

			span.slogan {
				display: block;
				font-family: AvenirNext-Medium;
				font-size: 46.5px;
				color: #fff;
				text-shadow: 0 0 20px #000;
			}
		}

		.h2-tagline {
			font-family: AvenirNext-Medium;
			font-size: 26px;
			color: #fff;
			text-shadow: 0 2px 40px #000;
		}
	}
}
