<?php
	include($_SERVER['DOCUMENT_ROOT'].'/php/autoVer.php');
?>
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="no-js" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<link href="https://jardindefrancetx.com{{ url }}" rel="canonical">
	<link href="/humans.txt" rel="author">

	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ og-title }}">
	<meta property="og:description" content="{{ og-description }}">
	<meta property="og:url" content="https://jardindefrancetx.com{{ url }}">
	<meta property="og:site_name" content="Jardin de France">
	<meta property="og:image" content="https://jardindefrancetx.com{{ og-image }}">

	<link href="{{ cdn }}<?php autoVer('/css/app.css'); ?>" rel="stylesheet">

	<meta name="theme-color" content="#697b99">

	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "LocalBusiness",
	  "name": "Jardin de France",
	  "logo": "https://jardindefrancetx.com/img/assets/logo/schema/jardin-de-france-logo.png",
	  "description": "Bringing to Houston the beauty of original French Country antiques &amp; quaint garden design",
	  "url" : "https://jardindefrancetx.com",
	  "telephone": "832-651-3136",
	  "address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Houston",
	    "addressRegion": "TX",
	    "postalCode": "77007",
	    "streetAddress": "4819 Blossom St"
	  },
	  "sameAs" : [
	    "https://www.pinterest.com/lebasi68/jardin-de-france/",
	    "https://www.instagram.com/jardindefrancetx/"
	  ]
	}
	</script>

</head>
<body id="{{ body-id }}" class="{{ body-class }}">



{{> body}}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery/3-4-1/jquery-min.js"><\/script>')</script>
<script src="{{ cdn }}<?php autoVer('/js/app-min.js'); ?>"></script>

{{> scripts-tag}}

</body>
</html>
